# Ambientes Virtuais
venv/
/venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Ficheiros de IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Ficheiros de sistema operativo
.DS_Store
Thumbs.db

# Ficheiros de autenticação e tokens (IMPORTANTE)
token.json
client_secrets.json

# Ficheiros de log e de base de dados local (se aplicável)
*.log
*.db
*.sqlite3

# Ficheiros de distribuição do PyInstaller
/dist/
/build/
*.spec
