# Pastas de build e distribuição
build/
dist/
__pycache__/

# Ambiente virtual
venv/
.venv/

# Credenciais e arquivos de sessão (MUITO IMPORTANTE!)
client_secrets.json
service_account.json
token.json
.regtel/
session.auth
session.json

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.pyc
*.pyo
*.pyd

# Arquivos de IDE (VS Code)
.vscode/

# Arquivos de instalador (se gerados na raiz do projeto)
*.iss
*.exe
*.msi